body{
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*GRID*/
    display: grid;
    grid-template-areas: 
    "head" 
    "nav" 
    "aside" 
    "main" 
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 10% 10% 10% auto 10%;
}

/*TABLET*/
@media screen and (min-width:490px){
    body{
        grid-template-areas: 
        "head head  head"
        "nav main main"
        "aside aside aside"
        "footer footer footer";
        grid-template-columns: 25% auto auto;
        grid-template-rows: 15% auto 15% 15%;
    }
}

/*WEB*/
@media screen and (min-width:1280px) {   
    body{
        grid-template-areas: 
        "head head head head"
        "nav main main aside"
        "footer footer footer footer";
        grid-template-columns: 15% auto auto 15%;
        grid-template-rows: 15% auto 15%;
    }
}
   
audio{
    width: 66%;
}

header{
    grid-area: head;
    background-color: rgb(89, 87, 206);
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
    background-color: rgb(207, 156, 207);
}

aside{
    grid-area: aside;
}

nav, aside{
    background-color:rgb(17, 143, 143);
}

footer{
    grid-area: footer;
    background-color: rgb(89, 87, 206);
}

header, nav, main, aside, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}