caption {
    color: red;
    font-weight: bold;
    font-size: 17px;
}

th {
    font-style: italic;
    border-bottom: 2px solid black;
}

tr th:first-child {
    border-right: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 250px;
}

tr td:first-child {
    border-right: 2px solid black;
}