@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    transition: $transitions;
  }
  
  .btn-a {
    @include transition(color 0.2s ease-in, background 0.5s ease-out);
  }